
.digital_1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  border-radius: 20px;
}

.digital_1_1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 5%;
  /* background-color: hsl(146, 67%, 48%); */
  border-radius: 20px;
  color: #16213e;
}

.digital_2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-rows: 500px;
  gap: 20px;
  max-width: 80vw;
  gap: 20px;
  padding: 10px;
}

@media (max-width:1980px) {
  .digital_2 {
    max-width: 90vw;  }
}

@media (min-width:1980px) {
  .digital_2 {
    max-width: 80vw;  }
}

.digital_img{
    height: 500px;
    background-size: cover;
    background-color: green;
}

.digital_img_1{
    grid-column: span 2; 
    background-image: url(./digital_art/moon.jpg); 
}

.digital_img_2{
    background-image: url(./digital_art/celestial_symphony_by_kareguya_dic6o40-414w-2x.jpg);
}

.digital_img_3{
    background-image: url(./digital_art/mustang.jpg);
    grid-row: span 2;
    height: 100%; 
}

.digital_img_4{
    background-image: url(./digital_art/zoro_x_pirates_of_the_caribbean_1_by_brightideabase_dh6e34h-350t-2x.jpg);
    grid-column: span 1;
}

.digital_img_5{
    background-image: url(./digital_art/island.jpg);
    grid-column: span 1;
}

.digital_img_6{
    background-image: url(./digital_art/space.jpg);
    grid-column: span 1;
    background-size: cover;
}

.digital_img_7{
    background-image: url(./digital_art/sentinels_of_the_shrouded_forest_by_bogi380_dhbr5kg-414w-2x.jpg);
    grid-column: span 1;
}

.digital_img_8{
    background-image: url(./digital_art/mortal_kombat_ninja___princess_peach.jpg);
    grid-column: span 1;
}

.digital_img_9{
    background-image: url(./digital_art/red\ sun.jpg);
    grid-column: span 1;
}

.digital_img_10{
    background-image: url(./digital_art/astronaut.jpg);
    grid-column: span 1;
}

.digital_img_11{
    background-image: url(./anime/IMG-20250810-WA0020.jpg); 
    grid-column: span 3;
}